# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
research_agent/

# IDE
.vscode/
.idea/

# FAISS and Embeddings
data/embeddings.npy
data/faiss.index

# OS
.DS_Store
Thumbs.db